#about {
    width: 50%;

    display: flex;
    flex-direction: column;
    gap: 20px;

    padding-right: 40px;
}

#about .about-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#about .about-content p {
    font-size: 1.5rem;
    color: var(--text-gray);
    letter-spacing: 1px;
    text-align: justify;
}

/*Responsividade*/
@media screen and (max-width: 980px){
    #about {
        width: 100%;
        padding-right: 10%;
    }
}

@media screen and (max-width: 800px) {
     #about{
            padding: 15px;
        }
    
}

