header {
    min-width: 450px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 50px 10% 30px 10%; 
    position: relative;
    
    background-color: var(--color-secundary)

}

header .perfil {
    display: flex;
    gap: 20px;
}

header .perfil img {
    width: 130px;
    height: 130px;
    border-radius: 20px;

    object-fit: cover;
    object-position: center;
}

header .perfil .info-content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-top: 10px;
}

header .perfil .info-content h1 {
    font-size: 4.0rem;
    line-height: 3.0rem;
}

header .perfil .info-content h2 {
    font-size: 1.7rem;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 2px;

    color: var( --style-pink);
}

.fa-solid.fa-bars {
    display: none;
    font-size: 40px;
}

/*Responsividade*/
@media screen and (max-width: 1140px) {
    .menu-nav li {
        display: none;
    }

    .fa-solid.fa-bars {
        display: block;
    }
}

@media screen and (max-width: 800px) {
    header {
        padding: 20px;
    }

    .fa-solid.fa-bars {
        display: block;
    }
}

@media screen and (max-width: 540px) {
    header {
        min-width: 420px;
    }
}

@media screen and (max-width: 500px) {
    header {
        padding-top: 60px;
    }
    .fa-solid.fa-bars {
        position: absolute;
        top: 15px;
        right: 15px;
    }
}