#stack {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


#stack .stack-content {
    display: flex;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 25px 25px;
}

#stack .stack-content li {
    height: 70px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    gap: 15px;

    box-shadow:1px 1px 4px rgba(0, 0, 0, 0.3);
    padding: 25px;

    background-color: rgb(28, 23, 55);

}

#stack .stack-content li img {
    width: 50px;
}

#stack .stack-content span {
    font-size: 2.0rem;
    text-transform: uppercase;
    font-weight: 500;
    color: gray;
}





/*Responsividade*/
@media screen and (max-width: 540px) {
    .stack {
        min-width: 400px;
        grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    }
}