@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('header.css');
@import url('stack.css');
@import url('about.css');
@import url('about-education.css');
@import url('education.css');
@import url('contact.css');
@import url('footer.css');
@import url('projects.css');
@import url('modal.css');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    color: var(--text-color);
}

:root {
    --color-primary: #030305;
    --color-secundary: #030305;
    --text-color: #f1f1f1;
    --text-gray: #504a4a;
    --style-box: #05051a;
    --style-pink: #ff003b;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    height: 100vh;
    margin: 0px auto;

    background-color: var(--color-primary);
    position: relative;
}

main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
}

button {
    cursor: pointer;
}

.palavra-fundo {
    position: absolute;
    right: 190px;
    font-size: 12.0rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #040213;
    z-index: 1;
}

/*-----------------------------------------------*/
/*Menor tamanho das seções e definição de padding*/
/*-----------------------------------------------*/
section {
    min-width: 420px;
    padding: 30px 10%;
    border-radius: 10px;
}

section h2 {
    font-size: 3.0rem;
    line-height: 25px;
    font-weight: 400;
    color: var(--text-color);

    padding-bottom: 20px;
    position: relative;

}

/*-----------*/
/*Botão geral*/
/*-----------*/
.botao{
    display: block;
    width: 200px;
    height: 50px;
    line-height: 40px;
    font-size: 18px;
    letter-spacing: 2px;
    position: relative;
    transition: all .35s;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    border: none;
    border-radius: 10px;
    background-color: #5e68ff;
}
  
.botao span,
.botao i {
    position: relative;
    z-index: 3;
}

.botao{
    display: block;
    width: 200px;
    height: 50px;
    line-height: 40px;
    font-size: 18px;
    letter-spacing: 2px;
    position: relative;
    transition: all .35s;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    border: none;
    border-radius: 10px;
    background-color: #5e68ff;
}
  
.botao span,
.botao i {
    position: relative;
    z-index: 3;
}

.botao::before {
    border-radius: 7px;
    position: absolute;
    content: "";
    top: 10;
    left: -10px;
    width: 3px;
    height: 40px;
    background: #ff003b;
}
  
  
.botao:after {
    border-radius: 10px;
    position: absolute;
    content: "";
    top: 0;
    left: 0px;
    width: 0;
    height: 100%;
    background-color: #ff003b;
    transition: all .35s;
  }
  
.botao:hover {
    color: #fff;
}
  
.botao:hover:after {
    width: 100%;
}

.botao::before {
    position: absolute;
    content: "";
    top: 10;
    left: -10px;
    width: 3px;
    height: 40px;
    background: #ff003b;
    border-radius: 20px;
}
  
.botao:hover {
    color: #fff;
}


/*--------------*/
/*Menu navegação*/
/*--------------*/
nav {
    z-index: 100;
    position: relative;
}

.menu-nav {
    display: flex;
    gap: 30px;
}

.menu-nav li {
    padding: 10px 20px;
}


.menu-nav li a {
    font-size: 1.7rem;
}

.menu-nav li a::after {
    content: "";
    display: block;
    width: 10px;
    height: 2px;
    border-radius: 3px;
    background-color: var( --style-pink);
    transition: .5s ease-out;
}

.menu-nav li a:hover::after {
    width: 100%;
}

.button-menu-mobile {
    display: none;
    font-size: 40px;
    border: none;
    background-color: transparent;
}


.fechar-menu-mobile {
    width: 40px;
    height: 40px;
  
    display: none;
    font-size: 25px;
    border: none;
    border-radius: 50%;

    position: absolute;
    top: 10px;
    left: 10px;
}

.fechar-menu-mobile i {
    color: black;
}


/*Responsividade*/
@media screen and (max-width: 1175px) {
    .fechar-menu-mobile {
        display: block;
    }

    .menu-nav {
        padding-top: 100px;
        width: 0;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        justify-content: right;
        gap: 20px;

        background-color: rgb(10, 136, 246);
        transition: width .5s ease-in;
        box-shadow: -5px 1px 8px rgba(255, 250, 250, 0.1);
    }

    .menu-nav li:hover {
        border-radius: 10px;
        background-color: #414150;
    }

    
    .menu-nav li a {
        font-size: 2.0rem;
    }

    .menu-nav li a::after {
        display: none;
    }

    .button-menu-mobile {
        display: block;
    }
}

.abrir-menu {
    width: 40%;
}

/*------------------*/
/*Redes socias geral*/
/*------------------*/
.redes-sociais {
    display: flex;
    gap: 20px;
}

.redes-sociais li {
    transition: .3s ease-out;
} 

.redes-sociais li a i {
    font-size: 20px;
    border-radius: 10px;
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(28, 23, 55)
    
}

.redes-sociais li:hover {
    transform: translateY(-3px);
}

.fa-brands.fa-linkedin-in:hover {
    background-color: #0e76a8;
}

.fa-brands.fa-whatsapp:hover {
    background-color: #25d366;
}
 
.fa-brands.fa-github-alt:hover {
    background-color: rgb(13, 17, 23);
}

.fa-regular.fa-envelope:hover {
    background-color: #ea4355;
}

.redes-sociais li a .rede{
    display: none;
}

/*Resposinvidade*/

@media screen and (max-width: 1500px) {
    .palavra-fundo {
        font-size: 10.0rem;
    }
}

@media screen and (max-width: 1375px) {
    .palavra-fundo {
        display: none;
    }
}


@media screen and (max-width: 800px) {
    section {
        padding: 20px;
    }
}

@media screen and (max-width: 540px) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 420px) {
    section {
        padding: 15px;
    }
}
