@import url('header.css');
@import url('home.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #f0f8ff;
    font-family: monospace;
}

:root{
    --color-primairy: #628a4c;
    --color-secundary: #afbe6c;
    --color-text: #f5f5db;
}

body{
    background-color: var(--color-secundary);
}
